<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dq.dao.UserDao">
	<!-- 取得用户列表 --><!-- resultType="Usermap"返回值类型 -->
	<select id="getUsermap" resultType="Usermap" parameterType="Usermap">
		select
		id,
		name,
		age,
		sex
		From usermap
		<where>
			<if test="username != null and password != null">
				name =#{name} and age =#{age} and sex=#{sex}
			</if>
			<if test="id!=null">
				and id=#{id}
			</if>
		</where>
	</select>
	<!-- 新增用户 -->
	<insert id="insertUsermap" parameterType="Usermap">
		insert into user(id,name,age,sex) values(#{id},#{name},#{age})
		<selectKey keyProperty="id" resultType="Long">
			select last_insert_id() as id
		</selectKey>
	</insert>
	<!-- 修改用户 -->
	<update id="updateUser" parameterType="User">
		update user
		<set>
			<if test="username != null">username=#{username},</if>
			<if test="password != null">password=#{password},</if>
		</set>
		where id=#{id}
	</update>
	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="Long">
		delete from user where id=#{id}
	</delete>

</mapper>

















